* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0 auto;
    position: relative;
    font-family: "Raleway", sans-serif;
}

h1 {
    font-family: "Poppins", serif;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 40px;
    color: #262626;
    max-width: 380px;
}
header {
    padding: 10px 0px;
    margin: 0 auto;
    display: flex;
}
p {
    margin: 20px 0 50px 0;
}
.title {
    margin-top: 8%;
    z-index: 1;
}

.top-bg img {
    max-width: 100%;
    margin-top: 40px;
}

.section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.section.top {
    margin-bottom: 25px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1320px;
    position: relative;
    overflow: hidden;
}

canvas {
    height: 100%;
    width: 100%;
}
button {
    padding: 18px 24px;
    border-radius: 40px;
    width: 200px;
    margin-right: 20px;
    margin-top: 30px;
}

.container {
    max-width: 1320px;
    padding: 10px 0px;
    margin: 0 auto;
    width: 90%;
}

a {
    text-decoration: none;
    color: inherit;
}

.portfolio {
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all 0.2s ease;
}
.portfolio:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: #F5DC2D;
  width: 56px;
  height: 56px;
  transition: all 0.3s ease;
}
.portfolio span {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
}
.portfolio svg {
  position: relative;
  top: 0;
  margin-left: 3px;
  margin-right: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #262626;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.portfolio:hover:before {
  width: 100%;
  background: #262626;
}
.portfolio:hover svg {
    transform: translateX(0);
    stroke: #fff;
}
.portfolio:hover {
    color: white;
}
.portfolio:active {
  transform: scale(0.96);
}

.logo {
    width: 30px;
    float: left;
}


ul.menu {
    float: right;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
}

.lang-button {
    width: 66px;
    height: 36px;
    background-color: #f5f5f5;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    position: relative;
    cursor: pointer;
}
.language-toggle {
    font-size: 16px;
}

a#en, a#jp {
    padding: 6px;
    display: block;
    position: absolute;
    text-align: center;
    top: 4px;
}
a#jp {
    right: 4px;
}
a#en {
    left: 4px;
}

.translate.on, a#en:active, a#jp:active {
    width: 28px;
    height: 28px;
    background: #fff;
    border-radius: 60%;
    font-weight: 700;
    color: #21BEE0;
}

li.item.resume {
    float: left;
    margin-top: 11px;
    margin-right: 20px;
}
.desc2 {
    margin-top: 40px;
    display: none;
}
a:focus {
outline: none!important;
}

.footer {
    min-height: 100vh;
    background-color: #2C2C2C;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    position: relative;
    overflow: hidden;
}

.contact {
    width: 90%;
    max-width: 1320px;
}

.email {
    width: 60%;
    display: inline-block;
    font-weight: bold;
}

.footerlight {
    width: 50%;
    display: inline;
}

a.sns.two {
    padding-left: 30px;
}
.sns {
    opacity: .5;
}
.sns::hover {
    opacity: 1;
}
.contact p {
    font-size: 45px;
}

.footerlight img {
    max-width: 100%;
    margin-top: 50px;
    width: 300px;
}

span.emailaddress {
    color: #2CBCDB;
    position: relative;
}

span.emailaddress::after {
    content: "";
    position: absolute;
    border: 1px solid #2CBCDB;
    width: 100%;
    left: 0;
    bottom: 5px;
}
.section.about {
    width: 100%;
    height: 620px;
    background-color: #21BEE0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    color: white;
    font-weight: bold;
}

.intro-about-container {
    width: calc(100% - 40px);
    min-height: unset;
    flex-direction: column;
    position: relative;
    max-width: 1320px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.intro-about {
    padding-top: 40px;
    line-height: 60px;
    font-size: 40px;
    display: inline-flex;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.about-absolute {
    font-size: 20px;
    padding-bottom: 5px;
}

p.fun-copy.japanese {
    line-height: initial;
}
.section.forfuns {
    background: #F5DC2D;
    text-align: center;
    display: flex;
    position: relative;
}
p.fun-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 25px;
    margin-top: 60px;
}
.grid {
    display: grid;
    margin: auto;
    z-index: 1;
}
.forfun {
    padding-bottom: 30px;
}
.forfuntext {
    width: 290px;
    margin: auto;
    color: #262626;
}
.forfuntext::after {
    content: "";
    width: 950px;
    height: 710px;
    background-size: contain;
    background-image: url(assets/fun-BG.svg);
    background-repeat: no-repeat;
    position: absolute;
    left: -240px;
    bottom: 0px;
}

.contact p.japanese {
    font-weight: 500;
    font-size: 40px;
}
h1.jp-top.japanese {
    font-size: 60px;
    line-height: 80px;
}
@media only screen and (max-width: 600px)  {
    a.lang {
        display: none;
    }
    video[poster] {
        opacity: 0.7;
    }
    .contact p {
        font-size: 25px;
    }
    .forfuntext::after {
        background-image: none;
        width: 1px;
    }
    .contact p.japanese {
        font-size: 20px;
    }
    h1.jp-top.japanese {
        font-size: 40px;
        line-height: 60px;
    }
}

@media only screen and (max-width: 330px) {
     .contact p {
    font-size: 20px;
    }
    .intro-about {
        font-size: 35px;
        line-height: 53px;
    }
}

@media only screen and (max-width: 730px) {
    .footerlight {
        display: none;
    }
}

@media only screen and (min-width: 767px)  {
    .intro-about {
        max-width: 404px;
        font-size: 45px;
        padding-top: 0px;
    }
    .section.about{
        height: 768px;
    }
    .about-absolute {
        position: absolute;
        font-size: 30px;
    }
    .about-absolute.right.japanese {
        right: 20px;
    }
    .about-absolute.right {
        right: -30px;
        transform: rotate(90deg);
    }
    .about-absolute.top{
        top: -130px;
    }
    .about-absolute.right.japanese {
        right: 20px;
    }
    .about-absolute.left {
        left: 30px;
        transform: rotate(-90deg);
    }
    .about-absolute.bottom {
        bottom: -130px;
    }
    .top-bg img {
        position: absolute;
        width: 650px;
        right: -80px;
    }
    h1{
        font-size: 50px;
    }
h1.jp-top.japanese {
    font-size: 45px;
    line-height: 60px;
    margin-top: 50px;
}
    .contact p.japanese {
        font-size: 32px;
    }
    
    .section.top {
        height: 420px;
    }
    .contact p {
        font-size: 35px;
    }
    .footerlight img {
        width: 250px;
        position: absolute;
        top: 130px;
        right: 40px;
    }
    .grid {
        grid-template-columns: repeat(2,minmax(0,1fr));
        grid-row-gap: 3.5625vw;
        grid-column-gap: 3.604167vw;
    }
    .forfun {
        padding-bottom: 0px;
    }
    .forfun.fun2 {
        transform: translate3d(0px, 21.2905px, 0px);
    }
    .forfun.fun4 {
        transform: translate3d(0px, 21.2905px, 0px);
    }
    p.fun-title {
        margin-top: 0px;
    }

    p.fun-copy {
        margin-bottom: 30px;
    }
    .section.forfuns {
        padding: 60px;
    }
}
@media only screen and (min-width: 1000px) {
    .top-bg img {
        width: 100%;
        max-width: 1045px;
    }
    .section.top {
        height: 560px;
    }
    .top-bg img {
        right: -40px;
    }
    .contact p {
        font-size: 45px;
    }
    .footerlight img {
        margin-left: 50px;
    }
     .forfuntext {
        text-align: left;
    }
    .grid {
        grid-row-gap: 1.5625vw;
        grid-column-gap: 1.604167vw;
    }
    h1.jp-top.japanese {
        font-size: 54px;
        margin-top: 50px;
        line-height: 80px;
    }
    
}

@media only screen and (min-width: 1200px) {
    .intro-about {
        max-width: 784px;
        font-size: 65px;
        line-height: 98px;
    }
    h1 {
        font-size: 70px;
        line-height: 90px;
        max-width: 440px;
    }
    .section.top {
        height: 630px;
    }
    .footerlight img {
        width: 300px;
        margin-top: 0px;
        position: initial;
    }
    .forfuntext {
        margin: auto 50px;
    }
    .grid.right {
        margin: auto 50px;
    }
    .section.forfuns {
        align-items: center;
        justify-content: center;
        padding: 100px;
    }

}
@media only screen and (min-width: 2000px) {
    .forfuntext::after {
        left: 270px;
        bottom: 0px;
    }
}