* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    margin: 0 auto;
    position: relative;
    font-family: "Raleway", sans-serif;
}

h1 {
    font-family: "Domine", serif;
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 0;
}
p {
    margin: 20px 0 50px 0;
}
.title {
    max-width: 480px;
    margin-top: 10%;
    z-index: 1;
}

.section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.section.top {
    margin-bottom: 100px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1320px;
}

canvas {
    height: 100%;
    width: 100%;
}
button {
    padding: 18px 24px;
    border-radius: 40px;
    width: 200px;
    margin-right: 20px;
    margin-top: 30px;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    display: block;
}

.container {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1020px;
}

a {
    text-decoration: none;
    color: inherit;
}

.portfolio {
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all 0.2s ease;
}
.portfolio:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: rgba(94, 209, 211, 0.5);
  width: 56px;
  height: 56px;
  transition: all 0.3s ease;
}
.portfolio span {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
}
.portfolio svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #111;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.portfolio:hover:before {
  width: 100%;
  background: #5ed1d3;
}
.portfolio:hover svg {
    transform: translateX(0);
    stroke: #fff;
}
.portfolio:hover {
    color: white;
}
.portfolio:active {
  transform: scale(0.96);
}

.logo {
    width: 50px;
    float: left;
    padding: 10px 0;
}
nav {
    float: right;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
}

.lang-button {
    width: 66px;
    height: 36px;
    background-color: #f5f5f5;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    position: relative;
}
.language-toggle {
    font-size: 16px;
}

a#en, a#jp {
    padding: 6px;
    display: block;
    position: absolute;
    text-align: center;
    top: 4px;
}
a#jp {
    right: 4px;
}
a#en {
    left: 4px;
}

.translate.on {
    width: 28px;
    height: 28px;
    background: #fff;
    border-radius: 60%;
    font-weight: 700;
    color: #5ed1d3;
}

li.item.resume {
    float: left;
    margin-top: 11px;
    margin-right: 20px;
}
.desc2 {
    margin-top: 40px;
    display: none;
}
a:focus {
outline: none!important;
}

.footer {
    min-height: 100vh;
    background-color: #2C2C2C;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.contact {
    width: 90%;
    max-width: 1320px;
}

.email {
    width: 60%;
    display: inline-block;
    font-weight: bold;
}

.footerlight {
    width: 50%;
    display: inline;
}

a.sns.two {
    padding-left: 30px;
}
.sns {
    opacity: .5;
}
.sns::hover {
    opacity: 1;
}
.contact p {
    font-size: 45px;
}

span.emailaddress {
    color: #2CBCDB;
    position: relative;
}

span.emailaddress::after {
    content: "";
    position: absolute;
    border: 1px solid #2CBCDB;
    width: 100%;
    left: 0;
    bottom: 5px;
}

.footerlight img {
    width: 300px;
    margin-left: 50px;
    margin-top: 50px;
}

@media only screen and (max-width: 600px)  {
    a.lang {
        display: none;
    }
    video[poster] {
        opacity: 0.7;
    }
    .contact p {
    font-size: 25px;
    }
    .footerlight img {
        margin-left: 0px;
    }
}

@media only screen and (max-width: 330px) {
     .contact p {
    font-size: 20px;
    }
}